body {
  margin: 0;
  padding: 0;
  background: linear-gradient(0deg, rgb(186,187,191, 0.7), rgb(186,187,191, 0.7)), url('background-brick.jpg');
}

header {
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 15px;
  font-size: 1.2em;
}

footer {
  padding: 15px;
  position: fixed;
  bottom: 0px;
  display: inline-block;
}
